body {
    background-color: #f2e6f7; 
    background-image: url('background.png') !important;
}

.header {
    background-color: #cce5e5;
    padding: 10px;
    width: 100%;
    height: 140px;
    position: fixed; 
    top: 0; 
    left: 0; 
}

.font_header {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    position: fixed;
    top: -10px;
    left: 400px;
    font-weight: bold;
    color: #000;
} 

.font_header2 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    position: fixed;
    top: 90px;
    left: 33%;
    font-weight: bold;
    color: /*#0E5256;*/ #000;
} 

.longline {
    position: fixed; 
    top: 156px; 
    left: 10px;
}

.bginput1 {
    padding: 30px;
    width: 22%; 
    height: 60%;
    position: absolute;
    left: 570px;
}

.bginput2 {
    padding: 30px;
    width: 22%; 
    height: 60%;
    position: absolute;
    left: 250px;
}

.label {
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}

.rounded-button1 {
    position: fixed; 
    right: 720px; 
}

.rounded-button2 {
    position: fixed; 
    right: 1050px;
}
  
.buttonstyle {
    background-color: #feda79;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: #000;
    text-align: center;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s ease-in-out;
    scale: 1.2
}

.buttonstyle:hover {
    background-color: #feda79;
    box-shadow: 
    inset 0px 3px 5px rgba(0, 0, 0, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

.rounded-button::-moz-focus-inner { 
    border: 0; 
}
  
.rounded-button:focus {
    outline: none;
}     

p {
    font-family: 'Sukhumvit Set';
    src: URL('SukhumvitSet-SemiBold.ttf') format('truetype');
  }

input[type="text"] {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px 20px;
    width: 500px;
    height: 33px;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    background-color: #f5f5f5;
    box-shadow: none;
    scale: 1.2
}

.grid_information{
    display: grid; 
    align-items: start; 
    grid-template-columns: repeat(2, 1fr);
    grid-gap: -100px;
  }

.img{
    pointer-events: none; 
    position: absolute;
    right: 300px;
    margin-top: -60px;
}

.textOutput {
    position: absolute;
    top: 380px;
    right: 300px;
}

.textOutput p {
    word-wrap: break-word;
    word-break: break-all;
}

.textOutputbox {
    background-color: White;
    padding: 30px;
    width: 24%; 
    height: 1%;
    position: absolute;
    top: 380px;
    right: 200px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

