<form class="bginput2" name="myForm" action="/create" method="post" onsubmit="return validateForm()">
    <div>
        <div>
            <p style="position: absolute; left: 110px; top: 50px; font-size: 20px; font-weight: bold;">กรุณาป้อนข้อความหรือประโยค :</p><br>
            <input style="position: absolute; top: 110px; left: 40%;" type="text" name="input" id="input" required><br><br>
        </div>
        <div style=>
            <button type="submit" style="right: 450px; top: 270px" class="rounded-button2 buttonstyle">Enter</button>
        </div>
    </div>  
</form>
