<div class="textOutput">
    {% if result == "ความเศร้า"  %}
        <div class="emoji"><img src="{{ url_for('static', filename='sadness.png') }}" class = "img" alt="รูปภาพ" width="400" height="auto"></div>  
    {% elif result == "ความสุข"  %}
        <div class="emoji"><img src="{{ url_for('static', filename='joy.png') }}" class = "img" alt="รูปภาพ" width="400" height="auto"></div>  
    {% elif result == "ความรัก"  %}
        <div class="emoji"><img src="{{ url_for('static', filename='love.png') }}" class = "img" alt="รูปภาพ" width="400" height="auto"></div>  
    {% elif result == "ความโกรธ" %}
        <div class="emoji"><img src="{{ url_for('static', filename='anger.png') }}" class = "img" alt="รูปภาพ" width="400" height="auto"></div>  
    {% endif %}
</div>